/* Buttons */
.btn {
  @include btn-reset();
  font-size: $font--default-size;
  padding: 0 $unit-spacing;
  margin: 0;
  border-radius: $border-radius;
  height: auto;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;

  &--action {
    background-color: $color--action;
    color: $color--white;
    transition: .4s;
  }
}
