/* Reset and Presets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35;
  color: $color--text;
  font-family: $font--family;
  font-size: $font--default-size;
  background-color: $color--background-body;
}

a {
  color: $color--link;
  text-decoration: none;

  &:hover {
    color: $color--link-hover;
    text-decoration: none;
  }
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
